@use "presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.155;
}

body {
  font-size: 0.875rem;
  background-color: $bg-color-lg-grey;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul {
  list-style: none;
}

.header a {
  color: $color-black;
}