@use "presets" as *;

.contacts {
  min-height: 120px;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-top: 1px;
  background-color: $bg-color-white;

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  .social__image {
    width: 40px;
    height: 40px;
  }
}