@use "presets" as *;

.feedback {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__phone {
    font-size: 1rem;
    line-height: 19px;
    color: $color-black;
  }

  &__button {
    background-color: $bg-color-white;
    border-color: $color-pink;
  }
}