:root {
  --bg-color-lg-grey: #EFEFEF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  font-size: 0.875rem;
  background-color: var(--bg-color-lg-grey);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {}

.navbar-secondary {
  min-height: 50px;
}

.container {}

.container-secondary {}

.navbar-secondary__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.navbar-secondary__item {}

.navbar-secondary__link {}

.container-big {}

.logo {}

.logo__link {}

.logo__image {}

.logo__title {}

.feedback {}

.feedback__phone {}

.feedback__button {}

.navbar-primary {}

.container-primary {}

.navbar-primary__list {}

.navbar-primary__item {}

.navbar-primary__link {}