:root {
  --bg-color-lg-grey: #efefef;
  --color-md-grey: #828282;
  --color-hg-grey: #333333;
  --color-black: #000000;
  --bg-color-pink: #f13c6e;
  --color-pink: #f13c6e;
  --bg-color-white: #ffffff;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.155;
}

body {
  font-size: 0.875rem;
  background-color: var(--bg-color-lg-grey);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

.header a {
  color: var(--color-black);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn--primary {
  width: 170px;
  min-height: 40px;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 1em;
}

.btn--secondary {
  width: 130px;
  min-height: 35px;
  border-radius: 30px;
  line-height: 16px;
  letter-spacing: 0.05em;
  background-color: var(--bg-color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 1em;
}

.navbar-secondary {
  min-height: 50px;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.navbar-secondary__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
}

.navbar-info {
  background-color: var(--bg-color-white);
  min-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 1px;
}

.container--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.logo {
  height: 80px;
}

.logo__link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo__title {
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
  color: var(--color-pink);
}

.feedback {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.feedback__phone {
  font-size: 1rem;
  line-height: 19px;
  color: var(--color-black);
}

.feedback__button {
  background-color: var(--bg-color-white);
  border-color: var(--color-pink);
}

.navbar-primary {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: var(--bg-color-white);
}

.navbar-primary__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 40px;
}

.navbar-primary__item {
  font-size: 1rem;
  line-height: 19px;
}

.hero {
  min-height: 604px;
  background-color: var(--color-pink);
  padding-top: 192px;
  padding-bottom: 192px;
  background-image: url(../img/hero.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  max-width: 310px;
  min-height: 220px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 56px;
  margin: 0;
}

.hero__description {
  line-height: 20px;
  margin-bottom: 5px;
}

.hero__button {
  background: var(--color-pink);
  border-color: var(--color-white);
  letter-spacing: 0.05em;
}

.offers {
  margin-top: 80px;
  margin-bottom: 100px;
}

.offers__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  margin-bottom: 38px;
}

.offers__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.offer-item {
  max-width: 255px;
  min-height: 363px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--bg-color-white);
}

.offer-item__title {
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--color-hg-grey);
  text-align: center;
}

.offer-item__picture {
  order: -1;
}

.offer-item__image {
  width: 125px;
  height: 166px;
}

.offer-item__price {
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.submit {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container--submit {
  display: flex;
  gap: 30px;
}

.subscribe {
  max-width: 540px;
  min-height: 210px;
  padding: 35px 45px 35px 40px;
  display: flex;
  align-items: center;
  gap: 65px;
  background-color: var(--bg-color-pink);
  color: var(--color-white);
}

.subscribe__content {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;
}

.subscribe__email {
  width: 225px;
  min-height: 35px;
  padding: 9px 25px;
  background-color: var(--bg-color-white);
  border-radius: 30px;
  border: none;
}

.subscribe__image {
  height: 106px;
}

.location {
  max-width: 540px;
  min-height: 210px;
  padding: 35px 45px 35px 40px;
  display: flex;
  align-items: center;
  gap: 95px;
  background-color: var(--bg-color-pink);
  color: var(--color-white);
}

.location__content {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;
}

.location__link {
  background-color: var(--bg-color-pink);
}

.brands {
  margin-top: 100px;
  margin-bottom: 80px;
}

.brands__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 1px;
}

.brands__picture {
  background-color: var(--bg-color-white);
  padding: 35px 60px;
}

.categories {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-white);
}

.container--categories {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.categories__content {
  width: 255px;
}

.categories__title {
  width: 99px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22.5px;
  margin-bottom: 1px;
}

.categories__list {
  padding-top: 25px;
  border-top: 1px solid var(--bg-color-lg-grey);
}

.categories__link {
  font-size: 0.75rem;
  line-height: 28px;
  color: var(--color-md-grey);
}

.contacts {
  min-height: 120px;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-top: 1px;
  background-color: var(--bg-color-white);
}

.container--contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.social__image {
  width: 40px;
  height: 40px;
}

.politic {
  min-height: 65px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container--politic {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.politic__description {
  font-size: 0.75rem;
  line-height: 14px;
  color: var(--color-md-grey);
}

@media (max-width: 768px) {
  .container--info {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 576px) {
  .feedback {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .subscribe {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 45px 35px 40px;
    gap: 65px;
  }
}

@media (max-width: 1200px) {
  .location {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 45px 35px 40px;
    gap: 95px;
  }
}

@media (max-width: 768px) {
  .container--submit {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .subscribe {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 45px 35px 40px;
    gap: 65px;
  }
}

@media (max-width: 768px) {
  .location {
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 45px 35px 40px;
    gap: 95px;
  }
}

@media (max-width: 1122px) {
  .brands__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .brands__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1200px) {
  .offers__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 864px) {
  .offers__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .offers__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .container--categories {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .categories__title {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container--contacts {
    flex-direction: column;
  }
}