:root {
  --bg-color-lg-grey: #efefef;
  --bg-color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #f13c6e;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.155;
}

body {
  width: 100vw;

  background-color: var(--bg-color-lg-grey);

  font-size: 0.875rem;
}

a {
  text-decoration: none;

  color: var(--color-white);
}

ul {
  list-style: none;
}

.header a {
  color: var(--color-black);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  max-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;

  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
}

.navbar-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: 50px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-secondary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  gap: 10px 30px;
}

.navbar-info {
  min-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: var(--bg-color-white);
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  background-color: var(--bg-color-white);

  gap: 40px;
}

.logo {
  height: 80px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 20px;
}

.logo__title {
  letter-spacing: 0.1em;

  color: var(--color-pink);

  font-size: 2.25rem;
  font-weight: 700;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 40px;
}

.feedback__phone {
  font-size: 1rem;
  line-height: 19px;
}

.feedback__button {
  border-color: var(--color-pink);
  background-color: var(--bg-color-white);
}

.navbar-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: 79px;
  margin-top: 1px;
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: var(--bg-color-white);
}

.navbar-primary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  gap: 10px 40px;
}

.navbar-primary__item {
  font-size: 1rem;
  line-height: 19px;
}

.hero {
  min-height: 604px;
  padding-top: 192px;
  padding-bottom: 192px;

  background-color: var(--color-pink);
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 310px;
  min-height: 220px;

  color: var(--color-white);

  gap: 40px;
}

.hero__title {
  margin: 0;

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero__description {
  margin-bottom: 5px;

  line-height: 20px;
}

.hero__button {
  letter-spacing: 0.05em;

  border-color: var(--color-white);
  background: var(--color-pink);
}
