:root {
  --bg-color-lg-grey: #efefef;
  --bg-color-pink: #f13c6e;
  --bg-color-white: #ffffff;
  --color-black: #000000;
  --color-hg-grey: #333333;
  --color-md-grey: #828282;
  --color-pink: #f13c6e;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.155;
}

body {
  background-color: var(--bg-color-lg-grey);

  font-size: 0.875rem;
}

a {
  text-decoration: none;

  color: var(--color-white);
}

ul {
  list-style: none;
}

.header a {
  color: var(--color-black);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;

  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
}

.btn--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 130px;
  min-height: 35px;
  padding: 0.25em 1em;

  letter-spacing: 0.05em;

  border-radius: 30px;
  background-color: var(--bg-color-pink);

  line-height: 16px;
}

.navbar-secondary {
  min-height: 50px;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.navbar-secondary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  gap: 10px 30px;
}

.navbar-info {
  min-height: 120px;
  margin-bottom: 1px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: var(--bg-color-white);
}

.container--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 40px;
}

.logo {
  height: 80px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 20px;
}

.logo__title {
  letter-spacing: 0.1em;

  color: var(--color-pink);

  font-size: 2.25rem;
  font-weight: 700;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 40px;
}

.feedback__phone {
  color: var(--color-black);

  font-size: 1rem;
  line-height: 19px;
}

.feedback__button {
  border-color: var(--color-pink);
  background-color: var(--bg-color-white);
}

.navbar-primary {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;

  background-color: var(--bg-color-white);
}

.navbar-primary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  gap: 10px 40px;
}

.navbar-primary__item {
  font-size: 1rem;
  line-height: 19px;
}

.hero {
  min-height: 604px;
  padding-top: 192px;
  padding-bottom: 192px;

  background-color: var(--color-pink);
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 310px;
  min-height: 220px;

  color: var(--color-white);

  gap: 40px;
}

.hero__title {
  margin: 0;

  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
}

.hero__description {
  margin-bottom: 5px;

  line-height: 20px;
}

.hero__button {
  letter-spacing: 0.05em;

  border-color: var(--color-white);
  background: var(--color-pink);
}

.offers {
  margin-top: 80px;
  margin-bottom: 100px;
}

.offers__title {
  margin-bottom: 38px;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
}

.offers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 30px;
}

.Offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 255px;
  min-height: 363px;
  padding: 25px;

  background-color: var(--bg-color-white);

  gap: 15px;
}

.Offer-item__title {
  text-align: center;

  color: var(--color-hg-grey);

  font-size: 0.875rem;
  line-height: 20px;
}

.Offer-item__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.Offer-item__image {
  width: 125px;
  height: 166px;
}

.Offer-item__price {
  letter-spacing: 0.05em;

  font-size: 1.312rem;
  font-weight: 500;
  line-height: 25px;
}

.submit {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 30px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  max-width: 540px;
  min-height: 210px;
  padding: 35px 45px 35px 40px;

  color: var(--color-white);
  background-color: var(--bg-color-pink);

  gap: 65px;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 255px;

  gap: 25px;
}

.subscribe__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
}

.subscribe__email {
  width: 225px;
  min-height: 35px;
  padding: 9px 25px;

  border: none;
  border-radius: 30px;
  background-color: var(--bg-color-white);
}

.subscribe__image {
  height: 106px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  max-width: 540px;
  min-height: 210px;
  padding: 35px 45px 35px 40px;

  color: var(--color-white);
  background-color: var(--bg-color-pink);

  gap: 95px;
}

.location__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 200px;

  gap: 25px;
}

.location__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
}

.location__link {
  background-color: var(--bg-color-pink);
}

.brands {
  margin-top: 100px;
  margin-bottom: 80px;
}

.brands__content {
  display: grid;

  text-align: center;

  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.brands__picture {
  padding: 35px 60px;

  background-color: var(--bg-color-white);
}

.categories {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-white);
}

.container--categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 30px;
}

.categories__content {
  width: 255px;
}

.categories__title {
  width: 99px;
  margin-bottom: 1px;
  padding-bottom: 30px;

  font-size: 1rem;
  font-weight: 500;
  line-height: 22.5px;
}

.categories__list {
  padding-top: 25px;

  border-top: 1px solid var(--bg-color-lg-grey);
}

.categories__link {
  color: var(--color-md-grey);

  font-size: 0.75rem;
  line-height: 28px;
}

.contacts {
  min-height: 120px;
  margin-top: 1px;
  padding-top: 38px;
  padding-bottom: 38px;

  background-color: var(--bg-color-white);
}

.container--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 40px;
}

.social__image {
  width: 40px;
  height: 40px;
}

.politic {
  min-height: 65px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container--politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 40px;
}

.politic__description {
  color: var(--color-md-grey);

  font-size: 0.75rem;
  line-height: 14px;
}

@media (max-width: 1200px) {
  .subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 35px 45px 35px 40px;

    gap: 65px;
  }
  .location {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 35px 45px 35px 40px;

    gap: 95px;
  }
  .offers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 30px;
  }
}

@media (max-width: 1122px) {
  .brands__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 864px) {
  .offers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container--submit {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 30px;
  }
  .subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 35px 45px 35px 40px;

    gap: 65px;
  }
  .location {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 35px 45px 35px 40px;

    gap: 95px;
  }
}

@media (max-width: 576px) {
  .brands__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .offers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 30px;
  }
  .container--categories {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;
  }
  .categories__title {
    margin: 0 auto;
  }
}
